




.box{
    margin:0px;
    padding:0px;
    align-items:left;
    text-align:center;
    background-color:rgb(255,255,255,.6);
    filter: drop-shadow(5px 5px 10px #666);
    z-index: 5;
    height: 300px;
    width: 600px;
    margin:200px;
    z-index:1;
    position:absolute;
    top: 175px;
    right: 300px;
    border-radius: 10px;
    
}


.inputBox{
    text-align:left;
    width: 425px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #aaa;
    outline:none;
    box-sizing: border-box;
    transition: .3s;
    z-index: 2;
    background-color:white;

   
}

input[type=text]:focus{
    border-color: dodgerBlue;
    box-shadow: 0 0 8px dodgerBlue;
}

.submit{
    height: 50px;
    width: 80px;
    transform: translate(130px,105px);
    z-index:2;
    
}

.del{
    transform: translate(100px,105px);
    height: 50px;
    width: 80px;
    z-index: 2;
}