

.div{
    margin:auto;
    display: flex;
    background-color:#fff;
    justify-content: center;
    justify-content: space-around;
    width: 600px;
    overflow:auto;
    height: 100px;
    max-height: 2000px;
    align-items:center;
    border-radius: 50px;
    margin-bottom: 100px;
    filter: drop-shadow(5px 5px 10px #666);
}

.div h4{
    background-color:white;
}

.check-box{
    height: 50px;
    width: 50px;
}

.check-box:hover{
    height:70px;
    width: 70px;
}

.check-box:active{
    filter: brightness(95%);
}